.appContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.header {
  display: flex;
  width: 100%;
}
.regWrapper {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.sectionDiv {
  display: flex;
  width: 70%;
  margin-top: 7vh;
}

.image {
  display: flex;
  position: absolute;
  left: 48vw;
  z-index: 3;
  justify-content: space-between;
  width: 18%;
}

.image img {
  width: 230px;
  height: 30vh;
  background-color: #eeefae;
  border-radius: 20px;
}

.bigImg {
  position: absolute;
  left: 70vw;
  top: 12vh;
  display: flex;
  justify-items: center;
  align-items: center;
}
.bigImg img {
  background-color: #eeefae;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  width: 30vw;
  height: 35vh;
}

.thirdSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.splashImage::before {
  content: "";
  width: 10px;
  height: 0px;
  position: absolute;
  top: 65vh;
  right: 13px;
  border-color: transparent blue transparent transparent;
  border-style: solid;
  border-width: 0px 200px 200px 20px;
  transform: rotate(90deg);
}
.splashImage {
  width: 53%;
  /* background-color: red; */
}
.splashImage img {
  width: 95%;
  height: 50vh;
  display: flex;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 40px;
  background-color: #eeefae;
}
