* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  image-rendering: auto;
}

.appContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  width: 47%;
  height: 115vh;
  background-color: #ccc;
  left: 53%;
  opacity: 0.1;
}
.header {
  display: flex;
  width: 100%;
}

.sectionDiv {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.thirdSection {
  width: 100%;
  margin-top: -10px;
}
.footerCont {
  width: 100%;
}

@media only screen and (max-width: 350px) {
  .splashImage {
    background-color: red;
  }
}
