.container {
  width: 100%;
  margin-top: 10vh;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.leftSectionWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section {
  line-height: 1.5;
  font-size: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.secText {
  font-size: "26.4px";
}
.lorem {
  width: 70%;
  box-sizing: border-box;
}
.lorem p {
  opacity: 0.3;
  font-size: 13px;
  padding: 10px;
}

.image {
  display: flex;
  position: absolute;
  left: 48vw;
  z-index: 3;
  justify-content: space-between;
  width: 18%;
}

.image img {
  width: 230px;
  height: 30vh;
  background-color: rgb(0, 0, 255);
  border-radius: 20px;
}

.bigImg {
  transform: translate(25%, -24%);
}
.bigImg img {
  background-color: rgb(0, 0, 255);
  border-radius: 30px;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  width: 30vw;
  height: 40vh;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
  .leftSectionWrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
  }
  .section {
    line-height: 1.1;
    font-size: 1.3em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .firstText {
    font-size: 0.7em;
  }
  .secText {
    font-size: 0.6em;
  }
  .lorem p {
    font-size: 0.6em;
    opacity: 0.4;
  }
  .image {
    top: 68%;
    left: 0vw;
    width: 50%;
    justify-content: center;
  }
  .image img {
    width: 90%;
  }
  .bigImg {
    transform: translate(60%, 0%);
    width: 50%;
  }
  .bigImg img {
    width: 50vw;
    height: 35vh;
  }
}
